/* ///////////////////////////////////////////////// */

.footer_content{
    width: auto;
    height: 100%;
    padding: 2vw;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--backgorundColor);
    background-color: var(--headerFoter);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_content_left{
    display: grid;
    font-size: 16px;
    width: 33%;
}

.footer_content_center{
    font-size: 16px;
    width: 33%;
    display: flex;
    justify-content: center;
}
.footer_content_rigth{
    font-size: 16px;
    width: 33%;
    display: flex;
    justify-content: center;

}