main {
  display: grid;
  justify-content: center;
  height: auto;
}

.title-course {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-course h1 {
  font-size: 60px;
  color: var(--headerFoter);
}

/* cards */
.container-cards {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 82rem;
  padding: 30px;
}

.card {
  display: grid;
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: var(--headerFoter);
}

.name__profile {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--backgorundColor);
  padding-top: 10px;
}

.img__profile img {
  height: 200px;
  width: 200px;
}

html{
  scroll-behavior: smooth;
}

#link-topo {
  display: flex;
  right: 50px;
  bottom: 60px;
  font-size: 26px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--headerFoter);
  background-color: var(--menuHeader);
  box-shadow: 3px 3px 10px #333;
  position: fixed;
  user-select: none;
  transition: all 1s ease;
  place-content: center;
  align-items: center;
}

#link-topo:hover {
  background-color: var(--menuHeaderSubtitle);
}

