main {
  display: grid;
  height: auto;
  grid-template-areas: 
  "left right";
  gap: 50px;
  justify-content: space-between;
  background-color: plum;
}


/* left */
.container-left {
  display: flex;
  justify-content: left;
  width: fit-content;
  /* padding: 30px 30px; */
  height: auto;
  background-color: tomato;
  grid-area: left;
}

.login-content {
  display: grid;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-areas:
    "title img"
    "devices img";
}

.devices {
  display: grid;
  gap: 80px;
  grid-area: devices;
}

.title-login {
  font-size: 28px;
  height: auto;
  display: flex;
  justify-content: center;
  grid-area: title;
}

.title-login h1 {
  font-weight: 300;
}

.title-login span {
  color: var(--headerFoter);
  font-weight: 800;
}

.img-student-login {
  grid-area: img;
}

/* right */
.container-right{
  display: grid;
  grid-area: right;
  background-color: rgb(189, 5, 97);
}