main {
  display: grid;
  height: auto;
  grid-template-areas: "esquerda direita";
  gap: 50px;
  justify-content: space-around;
}

/* left */
.container-left {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: auto;
  grid-area: esquerda;
  padding: 20px;
}

.login-content {
  display: grid;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-areas:
    "title img"
    "devices img";
}

.devices {
  display: grid;
  gap: 80px;
  grid-area: devices;
}

.title-login {
  font-size: 28px;
  height: auto;
  display: flex;
  justify-content: center;
  grid-area: title;
}

.title-login h1 {
  font-weight: 300;
}

.title-login span {
  color: var(--headerFoter);
  font-weight: 800;
}

.img-student-login {
  grid-area: img;
}

/* right */
.container-right {
  display: grid;
  grid-area: direita;
  /* padding-left: 200px; */
  padding: 20px;
  gap: 40px;
  font-size: 64px;
}


/* BUTTONS ANTIGOS */
/* .cards {
  display: grid;
  gap: 40px;
  font-size: 64px;
  color: var(--backgorundColor);
}

.card-ds {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: var(--headerFoter);
  box-shadow: 20px 12px 12px #3348b03f;
  gap: 20px;
  font-size: 70px;
}

.card-ds::before {
  content: "</> ";
  font-size: 70px;
  font-weight: bold;
}

.card-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: var(--headerFoter);
  box-shadow: 20px 12px 12px #3348b03f;
  gap: 20px;
  font-size: 70px;
}

.card-redes::before {
  content: url(../img/networks.png);
  font-size: 70px;
} */

.button_ds{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: var(--headerFoter);
  box-shadow: 20px 12px 12px #3348b03f;
  gap: 20px;
  font-size: 70px;
  color: var(--backgorundColor);
  border: none;
  border-radius: 8px;
}
.content_ds{
  color: var(--backgorundColor);
  font-size: 70px;
}

.button_ds::before {
  content: "</> ";
  font-size: 70px;
  font-weight: bold;
}

.button_redes{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: var(--headerFoter);
  box-shadow: 20px 12px 12px #3348b03f;
  gap: 20px;
  font-size: 70px;
  border: none;
  border-radius: 8px;
}
.content_redes{

}

.button_redes::before {
  content: url(../img/networks.png);
  font-size: 70px;
} 