.container-left {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 60px 60px;
  height: 78.8vh;
}

.login-content {
  display: flex;
  gap: 3.125rem;
  flex-wrap: wrap;

}

.devices{
  display: grid;
  gap: 80px;
}

.title-login {
  font-size: 28px;
  height: 6.25rem;
  display: flex;
  justify-content: center;
}

.title-login h1 {
  font-weight: 300;
}

.title-login span {
  color: var(--headerFoter);
  font-weight: 800;
}

