:root{
    --backgorundColor :  #D9D9D9;
     --headerFoter:#3347b0;
     --shadow:#292929;
     --menuHeader:#BCC2E5;
     --menuHeaderSubtitle:#E5B657;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    font-size: 18px;
    background-color: var(--backgorundColor);
    font-family: 'Roboto', sans-serif;
}