:root {
    --backgorundColor: #d9d9d9;
    --headerFoter: #3347b0;
    --shadow: #292929;
    --menuHeader: #bcc2e5;
    --menuHeaderSubtitle: #e5b657;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-size: 18px;
    background-color: var(--backgorundColor);
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    justify-content: space-between;
}
